
.navbar {
    background-color: #28B463;    
}

.quem-somos{
    background-color: #85C1E9;
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;    
}

.parceiros{
    background-color: #D1F2EB ;
}

.bg-footer{
    background-color: black;
    color: white;
}